{% extends 'base.html' %}

{%block title%}
About
{% endblock %}

        {%block content%}

        <h2 class="text-center ">About </h2>
        <div class="member-item set-bg" data-setbg="img/team-member/member-3.jpg">
                <div class="mi-social">
                    <div class="mi-social-inner bg-gradient">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="mi-text">
                    <h5>Emma Sandoval</h5>
                    <span>Speaker</span>
                </div>
            </div>
            <div class="member-item set-bg" data-setbg="img/team-member/member-4.jpg">
                <div class="mi-social">
                    <div class="mi-social-inner bg-gradient">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="mi-text">
                    <h5>Emma Sandoval</h5>
                    <span>Speaker</span>
                </div>
            </div>
            <div class="member-item set-bg" data-setbg="img/team-member/member-5.jpg">
                <div class="mi-social">
                    <div class="mi-social-inner bg-gradient">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="mi-text">
                    <h5>Emma Sandoval</h5>
                    <span>Speaker</span>
                </div>
            </div>


     {% endblock %}